.timer-container {
  position: relative;
  width: 100%;
  height: calc(100dvh - 60px);
  background: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
  font-family: sans-serif;
}

.bottom-controls-wrapper {
  position: absolute;
  bottom: calc(24px + env(safe-area-inset-bottom, 0px));
  left: 0;
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.label-selector-wrapper {
  /*background: var(--bg-subtle);*/
  padding: 8px 16px;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
}

.label-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.label-name {
  color: var(--text-color);
  font-size: 18px;
  max-width: 140px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .label-selector-wrapper {
    height: 44px;
    padding: 6px 12px;
  }

  .label-name {
    max-width: 120px;
  }
}

@media (max-width: 600px) {
  .bottom-controls-wrapper {
    padding: 0 12px;
    gap: 12px;
  }

  .label-selector-wrapper {
    height: 40px;
    max-width: 230px;
    padding: 4px 10px;
    border-radius: 10px;
  }

  .label-name {
    max-width: 100px;
  }

  .label-icon {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 400px) {
  .bottom-controls-wrapper {
    padding: 0 10px;
    gap: 8px;
  }

  .label-name {
    max-width: 75px;
  }
}
